.container {
  background-color: #000;
}

.container .hero {
  position: relative;
}
.container .hero .background-image {
  filter: brightness(60%);
  height: 100vh !important;
  width: 100vw !important;
}
.container .containerr {
  position: absolute;
  bottom: 5rem;
}
.container .containerr .logo img {
  width: 100% !important;
  height: 100% !important;
  margin-left: 5rem;
}

.containerr .buttons {
  margin: 5rem;
  gap: 2rem;
  height: 3rem;
  box-sizing: border-box;
}
.containerr .buttons button {
  font-size: 1.4rem;
  gap: 1rem;
  border-radius: 0.2rem;
  padding: 0.5rem;
  padding: 0 2.4rem 0 2rem;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.containerr .buttons button:hover{
    opacity: 0.8;
}
.containerr .buttons button:nth-of-type(2){
    background-color: rgba(109, 109, 110, 0.7) ;
    color: #fff;

}
.containerr .buttons button svg{
    font-size: 1.8rem;

}
