.containerrr {
  max-width: 230px;
  width: 230px !important;
  height: 100% !important;
  cursor: pointer;
  position: relative;
}
.container img {
  border-radius: 0.2rem;
  width: 100%;
  height: 100%;
  z-index: 1;
 
}
/* .container .hover {
  z-index: 99;
  height: max-content;
  width: 20rem;
  position: absolute;
  top: -18vh;
  left: 0;
  border: 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.75) 0px 3px 10px;
  background-color: #181818;
  transition: 0.3s ease-in-out;
} */

/* .container .hover .image-video-container {
  position: relative;
  height: 140px;
}
.image-video-container img {
  position: absolute;
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 0.3rem;
  top: 0;
  z-index: 4;
}
.container .hover video {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 0.3rem;
  top: 0;
  z-index: 5;
  position: absolute;
}

.hover .info-container {
  padding: 1rem;
  gap: 0.5rem;
}
.info-container .icons .controls {
  display: flex;
  gap: 1rem;
}
.info-container .icons .controls svg {
  font-size: 2rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.info-container .icons .controls svg:hover {
  color: #b8b8b8;
}

.info-container .genres ul {
  gap: 1rem;
}
.info-container .genres ul li {
  padding-right: 0.7rem;
  color: rgb(220, 26, 26);
  list-style: none !important;
}
.info-container .genres ul li:first-of-type {
  list-style-type: none;
} */

.hover{
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.2rem;
  position: absolute;
  z-index: 99;
  width: 220px !important;
  height: 100% !important;
  top: -0vh;
  transition: 0.3s ease-in-out !important;
}

.info-container .name{
  position: absolute;
  top: 14rem;  
}
.info-container .icons{
  margin: 17rem 0 0 0 ;
}
/* .hover .info-container {
  margin: 14rem auto;
  gap: 1rem;
} */

.info-container .icons .controls {
  display: flex;
  gap: 1rem;
}
.info-container .icons .controls svg {
  font-size: 2rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.info-container .icons .controls svg:hover {
  color: #b8b8b8;
}


.info-container .genres ul li:first-of-type {
  list-style-type: none;
}
